* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 !important;
  background-color: #E1E1E1;
  background-image: url(../images/texturacopas.png);
  background-repeat: space;
}

/* ACA EMPIEZA EL HEADER */
/* ACÁ DEFINO COLOR, SOMBRAS Y FUENTE DEL HEADER */
header {
  background-color: #313131;
  -webkit-box-shadow: -2px 13px 5px 0px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: -2px 13px 5px 0px rgba(0, 0, 0, 0.37);
  box-shadow: -2px 13px 5px 0px rgba(0, 0, 0, 0.37);
  font-family: 'Alegreya Sans', sans-serif;
}

/* HEADER borde de division de los 2 menus */
.primero {
  border-right: 1px solid white;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-right: 10px;
}

/* ESTILOS DE LA LISTA DE ITEMS DEL MENU */
header nav div div a {
  font-size: 20px;
  color: white;
  color: white !important;
}

header nav div div a:hover {
  font-weight: 700;
  color: #c69f57 !important;
}

.boton {
  background-color: #313131;
  border: #313131;
}

.boton img:hover {
  background-color: #c69f57;
}

/* ESTOS DOS DE ABAJO LE CAMBIAN EL COLOR A LA HAMBURGUESA */
.navbar-toggler {
  border-color: rgb(198, 159, 87) !important;
  color: rgb(198, 159, 87) !important;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(198, 159, 87)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

/* ESTOS DOS DE ABAJO LE SACAN EL PADDING AL LOGIN Y REGISTRO EN DESKTOP
  PORQUE SINO EL FOOTER QUEDABA MUY ALTO */
.s1 {
  padding-top: 0;
  padding-bottom: 0;
}

.s2 {
  padding-top: 0;
  padding-bottom: 0;
}

@media (min-width: 678px) {
  .logReg {
    text-align: left;
  }
}

.btn-primary{
  background-color: #313131;
  border-color: #313131;
}

.btn-primary:hover{
  background-color: #c69f57;
  border-color: #c69f57;
}

.btn-secondary{
  background-color: #313131;
  border-color: #313131;
}

.btn-secondary:hover{
  background-color: #c69f57;
  border-color: #c69f57;
}
/* ACÁ TERMINA EL HEADER */


.row div {
  margin: 0 auto;
  margin-bottom: 40px;
}
main {
  padding-top: 162px;
  color: #313131;
  font-family: 'Noto Serif', serif;
  width: 100%;
  position: relative: ;
}

main h2 {
  text-align: center;
  font-size: 50px;
}

.borde {
  border-bottom: 2px solid #c69f57;
  width: 37%;
  margin: 0 auto;
  margin-top: 34px;
  margin-bottom: 44px;
}

main h5 {
  color: #c69f57;
  text-align: center;
  font-size: 30px;
}

main p {
  margin-bottom: 0px;
  color: #313131;
  font-size: 40px;
  text-align: center;
  font-family: 'Noto Serif', serif;
}

main img {
  display: flex;
  margin: 0 auto;
  margin-bottom: 7px;
}

.prod {
  margin-bottom: 100px;
}

.col-12 {
  flex: 100%;
}
.col-md-6 {
  flex: 50px;
}

.col-lg-3 {
  flex: 33%;
}

div img {
  display: block;
}

/* ACA EMPIEZA EL FOOTER */
footer {
  background-color: #c69f57;
  color: #313131;
  width: 100%;
  position: relative;
  bottom: 0px;
  padding-bottom: 10px;
}

footer img {
  margin-right: 10px;
  margin-top: 8px;
  height: 44px;
  padding: 0px 15px;
  border-right: 2px solid #313131;
}

footer h5 {
  padding-top: 20px;
  padding-left: 10px;
  color: #313131;
  font-size: 14px;
}

footer a {
  margin-top: 16px;
  margin-left: 10px;
  text-decoration: none;
}

footer a:hover {
  text-decoration: none;
}

.footer {
  margin: 0 !important;
}

/* ICONOS DEL FOOTER */
.icon-facebook2,
.icon-twitter,
.icon-instagram {
  color: #313131;
}

/* HOVER BORDE NEGRO ICONOS */
.icon-facebook2:hover,
.icon-twitter:hover,
.icon-instagram:hover {
  border: 1px solid #313131;
  border-radius: 3px;
  padding: 5PX;
  text-decoration: none;
}

/* HOVER ICONOS BLANCOS */
/* ACÁ TERMINA EL FOOTER */
.btn-negro {
  font-family: 'Alegreya Sans', sans-serif;
  background-color: #313131;
  border-radius: 8px;
  font-size: 20px;
  color: #E1E1E1;
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  margin: 0 auto;
}

.btn-negro:hover {
  color: #e1e1e1;
  background-color: #c69f57;
}

.btn-negro:active {
  background-color: #c69f57;
  color: #313131;
}

.form-check-input,
.form-check-input:hover,
.form-check-input:active {
  margin-top: 7px;
}

@media (min-width: 100px) and (max-width: 767.98px) {
  .primero {
    border-right: none;
  }

  .s1 {
    margin-top: -17px;
  }

  .s2 {
    padding-top: 10px;
  }

  .icon-instagram {
    display: none;
  }

  .icon-twitter {
    display: none;
  }

  .icon-facebook2 {
    display: none;
  }

  main {
    padding-top: 122px;
  }



  .prod {
    padding-bottom: 40px;
    padding-top: 40px;
    margin-bottom: 0px;
  }

  .borde {
    border-bottom: 2px solid #c69f57;
    width: 67%;
    margin: 0 auto;
    margin-top: 44px;
    margin-bottom: 44px;
  }
  .logReg {
      text-align: center;
  }
}

@media (min-height: 1226px) {
  footer {
    position: fixed;
    bottom: 0;
  }
}
